footer,
footer a,
footer * {
  background: #bb2423;
  color: white;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
footer a {
  margin: 5px;
}
footer names {
  display: flex;
  justify-content: space-between;
}

footer > i {
  color: white;
}
